*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: rgb(28, 8, 46);
    color: aliceblue;
    height: 72px;
    font-size: 28px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: serif;
}

nav ul{
    list-style: none;
}
.gamecontainer{
    
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.container{
    display: grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
    font-family: sans-serif;
}
.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    background-color: rgb(186, 140, 229);
}
.gameinfo{
    padding: 0 35px;
    font-family: Arial, Helvetica, sans-serif;
}
.imagebox img{
    width: 0;
    transition: width 1s ease-in-out;
}
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
#reset {
    margin: 0 25px;
    padding: 6px 14px;
    background-color: aqua;
    border-radius: 6px;
    cursor: pointer;
}